name: Deploy Beta Cellborg Infrastructure
on:
  push:
    branches:
      - beta
jobs:
  deploy-beta:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: us-west-2

    - name: Install dependencies and deploy beta environment
      run: |
        cd iac
        npm install -g aws-cdk
        npm install
        npm run build
        cdk bootstrap aws://536697236385/us-east-1
        cdk deploy --context environment=beta --require-approval never
